  body{
    text-align: center;
    background: #000; 
    margin: 0;
    cursor: none;
  }
  
  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: #000;
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: 3;
  }

  .homie{
    background: #0000;
  }
  .leafSet{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    pointer-events: none !important;
    
  }
#main{
  width: 100%;
  height: 100vh;
  position: absolute;
  top:110%
}
.leafSet div img{
  box-shadow: #000;
}

.lset1 div{
  position: absolute;
  display: block;
  top:110%;
}

.lset1 div:nth-child(1){
    left: 18%;
    animation: anileaf 16s linear infinite;
    animation-delay: -7s;
    
  }
.lset1 div:nth-child(2){
    left: 55%;
    animation: anileaf 8s linear infinite;
    animation-delay: -3s;
  }

.lset1  div:nth-child(3){
    left: 90%;
    animation: anileaf 6s linear infinite;
    animation-delay: -1s;
  }
.lset1  div:nth-child(4){
    left: 70%;
    animation: anileaf 15s linear infinite;
    animation-delay: -5s;
  }
.lset1 div:nth-child(5){
    left: 60%;
    animation: anileaf 18s linear infinite;
    animation-delay: 2s;
  }

.lset1 div:nth-child(6){
    left: 35%;
    animation: anileaf 5s linear infinite;
  }
.lset1 div:nth-child(7){
    left: 40%;
    animation: anileaf 13s linear infinite;
  }
.lset1 div:nth-child(8){
    left: 0%;
    animation: anileaf 15s linear infinite;
  }

.lset2{
  
}
.lset2 div{
  position: absolute;
  display: block;
  transform:rotateX(180deg);
  filter: blur(4px);
  scale: 0.8;
}
.lset2 div:nth-child(1){
  left: 10%;
  animation: anileaf 15s linear infinite;
  animation-delay: -7s;
  animation-direction: reverse;
}
.lset2 div:nth-child(2){
  left: 30%;
  animation: anileaf 20s linear infinite;
  animation-delay: -5s;
  animation-direction: reverse;
}

.lset2 div:nth-child(3){
  left: 60%;
  animation: anileaf 20s linear infinite;
  animation-delay: 0s;
  animation-direction: reverse;
}
.lset2 div:nth-child(4){
  left: 40%;
  animation: anileaf 15s linear infinite;
  animation-delay: -5s;
  animation-direction: reverse;
}
.lset2 div:nth-child(5){
  left: 75%;
  animation: anileaf 18s linear infinite;
  animation-delay: -10s;
  animation-direction: reverse;
}

.lset2 div:nth-child(6){
  left: 20%;
  animation: anileaf 12s linear infinite;
  animation-direction: reverse;
}
.lset2 div:nth-child(7){
  left: 5%;
  animation: anileaf 14s linear infinite;
  animation-direction: reverse;
}
.lset2 div:nth-child(8){
  left: 40%;
  animation: anileaf 15s linear infinite;
  animation-direction: reverse;
}
   
.lset3{
  z-index: 2;
}
.lset3 div{
  position: absolute;
  display: block;
  transform:rotateX(180deg);
  filter: blur(2px);  
  top:110%;
  
}
.lset3 div:nth-child(1){
  left: 0%;
  scale: 1.5;
  animation: anileaf 5s linear infinite;
  animation-delay: 5s;
}
.lset3 div:nth-child(2){
  left: 50%;
  animation: anileaf 10s linear infinite;
  scale: 2.5;
  animation-delay:12s;
}

.lset3 div:nth-child(3){
  left: 20%;
  scale: 1.5;
  animation: anileaf 7s linear infinite;
  animation-delay: 15s;
}
.lset3 div:nth-child(4){
  left: 80%;
  scale: 1.8;
  animation: anileaf 15s linear infinite;
  
  
}


  @keyframes anileaf {
    0%{
      opacity: 0;
      top:-10%;
      transform: translateX(20px) rotate(0deg);
    }
    10%{
      opacity: 1;
    }
    20%{
      transform: translateX(-20px) rotate(45deg);
    }
    40%{
      transform: translateX(-20px) rotate(90deg);
    }
    60%{
      transform: translateX(20px) rotate(180deg);
    }
    80%{
      transform: translateX(-20px) rotate(180deg);
    }
    100%{
      top: 110%;
      transform: translateX(-20px) rotate(225deg);

    }
  }

  .section h1{
    cursor: pointer;
    FONT-WEIGHT: 100;
    font-size: 14em;
    letter-spacing: 14px;
    color: #ffcf00 !important;
    font-family: 'Fleur De Leah', cursive;
    -webkit-animation: fadein 8s; 
    animation: fadein 8s;
    margin: 0 ;
    pointer-events: none;
    text-shadow: 0 0 9px #b78d23;
    transform: translate3d(0,calc(var(--scrollTop)/5.7),0);
  
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .title p{
    position: relative;
    top: -30px;
    cursor: pointer;
    width: 88%;
    text-align: right;
    font-size: 18px;
    letter-spacing: 4px;
    color: #ffffff !important;
    -webkit-animation: fadein 8s;
    animation: fadein 8s;
    font-family: 'Poiret One', cursive;
    margin: 0px 20px 30px 20px;
   
  }

  hr{
    width: 100%;
  }
  .title h4{
    cursor: pointer;
    font-weight: 100;
    font-size: 25px;
    letter-spacing:6px;
    color: #ffffff !important;
    font-family: 'Poiret One', cursive;
    -webkit-animation: fadein 8s;
    animation: fadein 8s;
    width: 100%;
    margin: 30px 0;
  }

  @keyframes pulse_animation {
    0% { transform: scale(1); opacity: 0.1; }
    50% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); opacity: 0.1;}
  
  }


  .paraCont{
    width: 9%;
  }

  .typeText{
    font-size: 5em;
    letter-spacing: 10px;
    font-family: 'Fleur De Leah', cursive;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18),
    cursor .4s step-end infinite alternate;
    color: #ffcf00 !important;
  }


  @keyframes cursor{
    50%{
      border-color: transparent;
    }

  }

  @keyframes typing{
    from{
      width:0
    }
  }


  #custCur{
    position:fixed;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background:#fff;
    border: 2px solid #000;
    transform: translate(-50%,-70%);
    pointer-events: none;
    z-index: 100;
    mix-blend-mode: difference;
  }


  #mocha{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s ease-out;
    width: 2.5%;
    animation: woble 0.7s linear;
  }

  @keyframes woble{
    0%{
      scale: 0;
    }
    50%{
      scale: 1.15;
    }
    100%{
      scale: 1;
    }
  }

  
  .mouser{
    position: relative;
    top: 9em;
    animation: pulse_mou 2s linear infinite;
    /* z-index: -5; */
    filter: drop-shadow(0 0 0 #ffffff9d);
}

@keyframes pulse_mou {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{opacity: 0.2;}
}
  .bodymou{
    height: 82px;
    width: 42px;
    border-radius: 34px;
    border: 2px solid #ffffff8e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    margin: 0 auto;
  }

  #mainTitle{
    z-index: -2;
  }

  .trimou{
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 6px 1px #fff;
    transform: translateY(-19px);
    animation: moumou 1.5s linear infinite;
  }

  .mouser p{
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff !important;
    font-family: 'Poiret One', cursive;
  }

  @keyframes moumou {
    0%{
      transform: translateY(-19px);
      opacity: 1;
    }
    
    100%{
      transform: translateY(19px);
      opacity: 0;
    }
  }

  .subhead{
    font-size: 12em !important;
    text-decoration: overline;
    text-decoration-thickness: 2px;
    line-height: 2em;
    margin: 0;
  }

  .subtitle{
    background: #0000;
    backdrop-filter: blur(10px);
  }
  .faques{
    text-align: center;
  }
  .faques h4{
    font-size: 7em;
  }

  .branding h4{
    margin: 0;
  }

  .branding p{
    font-size: 1.5em;
    text-align: center;
    line-height: 1;
  }

  .navbar{
    position: fixed;
    width: 100%;
    background: #0000;
    margin: 0;
    padding: 30px 0;
    z-index: 8;
  }

  .navbar .menu #mainTitlenav{
    FONT-WEIGHT: 100;
    font-size: 30px;
    float: left;
    letter-spacing: 4px;
    color: #ffcf00 !important;
    font-family: 'Fleur De Leah', cursive;
    margin: 0 ;
    text-shadow: 0 0 9px #b78d23;
    margin-left: 20px;
  }
  .navbar .menu h1 {
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-size: 15px;
    letter-spacing: 10px;
    margin-right: 20px;
    float: right;
  }

  .navsitem{
    position: absolute;
    background: #c8c8c8;
    height: 100%;
    width: 100%;
    /* display: flex; */
    display: none;
    justify-content: flex-end;
    align-items:flex-end;
    z-index: 9;
    flex-direction: column;
    top:0;
  }

  .navsitem ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items:flex-end;
    margin: 0;
  }

  .navsitem li{
    width: 25vw;
    list-style: none;
    background: #000;
    color: #fff;
    font-size: 2.8em;
    height: 15vh;
    padding: 30px 40px;
    font-weight: 200;
    transition: 0.3s ease-in-out; 
    left: 0;
   position: relative;
  }

  .navsitem li:nth-child(2){
    width: 50vw;
  }
  .navsitem li:nth-child(3){
    width: 80vw;
  }

  .navsitem li a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navsitem li .pointcirc{
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 2px solid #fff;
    transition: 0.3s ease-in-out; 
  }

  .activeNav{
    background: #000;
  }

  .navsitem .closbtn{
    display: flex;
    width: 60vw;
    background: #ffffff;
    color: #000000;
    font-size: 8em;
    height: 100vh;
    padding: 30px 20px;
    position: absolute;
    z-index: -2;
    font-weight: 500;
  }

  .navsitem .closbtn p{
    transition: 0.3s ease-in-out; 
    margin: 80px 0 0 0;
  }
  .navsitem .closbtn p::after{
    content: '';
    background: #000;
    width: 40%;
    height: 5px;
    position: absolute;
    left: 35px;

    transform-origin: left;
    transition:  .5s ease;
    transform: scaleX(0) translateY(144px);
  }
  .navsitem .closbtn p:hover:after{
    transform: scaleX(1) translateY(144px);
  }

  .navsitem li:hover{
    transform: translateX(-20px);
  }

  .navsitem li:hover  .pointcirc{
    background: #fff;
  }





  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

body{
    font-family: 'Oswald', sans-serif;
    background-color: #212121;
}
section{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    position: relative;
    height: 400px;
    width: 100%;
    margin: 10px 0;
}
.cover{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
}
.cover:before{
    content: '';
    position: absolute;
    border: 5px solid rgba(255,255,255,.5);
    box-shadow: 0 0 12px rgba(0,0,0,.3); 
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    z-index: 2;
    transition: ease all 2.3s;
}
.cover:after{
    content: '';
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: 2;
    transition: ease all 1.3s;
    background: rgba(0,0,0,.4);
}
.card:hover .cover{
    transform: rotateX(0deg) rotateY(-180deg);
}
.card:hover .cover:before{
    transform: translateZ(30px);
}
.card:hover .cover:after{
    background-color: black;
}
.card:hover .cover h1{
    transform: translateZ(100px);
}
.card:hover .cover .price{
    transform: translateZ(60px);
}
.card:hover .cover a{
    transform: translateZ(-60px) rotatey(-180deg);
}
h1{
    font-weight: 600;
    position: absolute;
    bottom: 55px;
    left: 50px;
    color: white;
    transition: ease all 2.3s;
    z-index:3;
    font-size: 3em;
    transform: translateZ(0px);
}
.price{
    font-weight: 200;
    position: absolute;
    top: 55px;
    right: 50px;
    color: white;
    transition: ease all 2.3s;
    z-index:4;
    font-size: 2em;
    transform: translateZ(0px);
}
.card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0b0f08;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-back a{
    transition: ease transform 2.3s, ease background .5s;
    transform-style: preserve-3d;
    transform: translateZ(-1px) rotatey(-180deg);
    background: transparent;
    border: 1px solid white;
    font-weight: 200;
    font-size: 1.3em;
    color: white;
    padding: 14px 32px;
    outline: none;
    text-decoration: none;
}
.card-back a:hover{
    background-color: white;
    color: #0b0f08;
}
